.content_block
    section
        .main.main_pad.clearfix
            .left_side
                img(src="./images/decor/catalog.png", alt="catalog")
            .right_side
                article.content
                    h1 Игрушки оптом и в розницу
                    h2 ИГРУШКИ И НАБОРЫ ДЛЯ ДЕВОЧЕК
                    .catalog-list
                        img(src="./images/decor/catalog-1.png", alt="catalog")
                        a(href="#") Перейти в раздел
                    h2 ИГРУШКИ И НАБОРЫ ДЛЯ Мальчиков
                    .catalog-list
                        img(src="./images/decor/catalog-2.png", alt="catalog")
                        a(href="#") Перейти в раздел
                    h2 Мягкие игрушки
                    .catalog-list
                        img(src="./images/decor/catalog-3.png", alt="catalog")
                        a(href="#") Перейти в раздел
                    h2 Вот почему выгодно покупать <br> игрушки у нас!
                    .benefits
                        .benefits__item
                            .benefits__img
                                img(src="./images/icon/benefit-1.svg", alt="benefit")
                            h4 Доставка по всей России
                            p В Новосибирске возможен самовывоз и доставка курьером, в остальные регионы заказы отправляются через ТК.
                        .benefits__item
                            .benefits__img
                                img(src="./images/icon/benefit-2.svg", alt="benefit")
                            h4 Большой выбор
                            p Конструкторы типа ЛЕГО, радиоуправляемые машины, игровые модули, мягкие игрушки, герои мультфильмов – все это и многое другое есть в нашем магазине.
                        .benefits__item
                            .benefits__img
                                img(src="./images/icon/benefit-3.svg", alt="benefit")
                            h4 Доступные цены
                            p Кроме того, чтобы мы предлагаем индивидуальные скидки, у нас регулярно проводятся распродажи и выгодные акции.
                        .benefits__item
                            .benefits__img
                                img(src="./images/icon/benefit-4.svg", alt="benefit")
                            h4 Удобная оплата
                            p Покупки можно оплатить наличными или банковским переводом по реквизитам компании с расчетного счета организации
                        .benefits__item
                            .benefits__img
                                img(src="./images/icon/benefit-5.svg", alt="benefit")
                            h4 Консультации
                            p Наши специалисты помогут выбрать подарок для ребенка любого возраста, консультируем как по телефону, так и на месте.
                        .benefits__item
                            .benefits__img
                                img(src="./images/icon/benefit-6.svg", alt="benefit")
                            h4 Наличие на складе
                            p На нашем складе в ТЦ “Пионер” всегда хранится большое количество товара, можно приехать, выбрать и сразу купить.
                    h2 Немного о нас
                    .about
                        .about__slider
                           .about__slider_wrap
                            .about__slide
                                img(src="./images/decor/slide.jpg", alt="slide")
                            .about__slide
                                img(src="./images/decor/slide.jpg", alt="slide")  
                        .about__text
                            p 
                                span М
                                | ы предлагаем нашим покупателям возможность купить качественные, но при этом недорогие игрушки и детские игры. У нас представлен широчайший ассортимент товаров в различных категориях: мягкие и пластиковые игрушки, конструкторы, лего, трансформеры, погремушки, настольные игры и многое другое. Поскольку нет наценки дорогого бренда, можно купить популярную игрушку для вашего ребенка по доступной цене. Наш принцип работы: радовать детей – это просто и недорого. Убедитесь в этом сами в нашем магазине.
                    h2 Как нас найти
                    .adress
                        .adress__block-1
                            img(src="./images/icon/map.svg", alt="map")
                            p Гусинобродское шоссе 62 ТЦ "ПИОНЕР",  корпус 2,  павильон 21
                        .adress__block-2
                            img(src="./images/icon/map.svg", alt="map")
                            p Гусинобродское шоссе 31/2 ОРЦ "ДРУЖБА",  цокольный этаж место 025
            .question
                h2 Остались вопросы?
                p Оставьте свои контакты, и мы свяжемся с Вами
                form(action="#")
                    .question__col
                        input(type="text", placeholder="Имя *")
                    .question__col
                        input(type="text", placeholder="Телефон *")
                    .question__col
                        input(type="text", placeholder="E-mail")
                    .question__text
                        textarea(name="text", cols="30", rows="10", placeholder="Сообщение")
                    .question__btn
                        input(type="checkbox", name="check")#check
                        label(for="check") Я даю согласие на обработку 
                            a(href="#") Персональных данных
                        input(type="submit", value="Отправить")